// BASIC PALETTE

$darkblue-bold: rgb(0, 12, 47);
$darkblue-medium: rgb(36, 44, 68);
$darkblue-regular: rgb(46, 54, 81); 

$lightblue-bold: rgb(207, 217, 236);
$lightblue-medium: rgb(225, 236, 249);
$lightblue-regular: rgb(240, 244, 254);

$blue: rgb(37, 170, 252);
$violet: rgb(174, 0, 255);

// TEXT COLOR

$color-text-link: $blue;


// GRADIENTS
